<!DOCTYPE html>
<html>
<head>
<!-- <link rel="stylesheet" href="Home.css"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">
</head>

<body>
<div id="testButton"><a href="{{ url_for('upload_form1') }}">Test now</a>
</div>
<div id="detectText">
Detect important data
</div>
<div id="extractText">
Extract data to file
</div>
<div id="feedText">
Feed data to program
</div>
<div id="mobileVers">
Check our Mobile Version
</div>
<script> </script>
</body>
</html>
